*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navBar{
    background-color:#2c2c2c ;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px, 0px, 10px #2c2c2c;
    z-index: 99;
}

.navBar>div{/*filho direto da navBar*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color:aquamarine;
}

.logo span{
    color:#fff;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{/*alinhar os icones da barra*/
    display: flex;
    align-items: center;
}

nav ul li{
    color:#fff;
    margin-right: 1.5rem;
    cursor: pointer;/*aparece maozinha no mouse*/
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;/*deixar mais suave o hover*/
    font-weight: bold;
}