.product-descricao img{
    width: 350px;
    height: 450px;
    border-radius: 10px;
}

.product-descricao img:hover{
    transform: translateY(-5px);
    transition: all 0.2s;/*deixar mais suave o hover*/
}

.product-descricao{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-left: auto;
}  
    p{
      display: flex;
      margin:10px 0 20px 0;
      font-size: 20px;
      text-align: start;
    }

    .product-text{
      width: 750px;
        background: #fff;
        padding: 30px;
        margin-top: 40px;
        border-radius: 10px;
        box-shadow: 0 2px 12px rgba(0,0,0,0.15);
        text-align: center;
    }

    .card{
      display:flex;
      flex-direction: row;
      align-items: center;
      gap:70px;
    }

    #info{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap:10px;
    }

    #main_product{
      display: flex;
      flex-direction: column;
      gap:10px;
    }