label{
  text-align: center;
  display: block;
  margin: 0 auto 5px;
  width: 200px;
  font-size: 18px;
}
.texto{
  text-align: center;
}
body{
        background-color: whitesmoke;
        margin:0;
        padding:0;
    }
.fundo {
        width: 500px;
        background: #fff;
        padding: 30px;
        margin-top: 40px;
        border-radius: 10px;
        box-shadow: 0 2px 12px rgba(0,0,0,0.15);
        text-align: center;
    }

  .cabecalho{
        background-color: rgb(119, 207, 248);
        width: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    }
    .cabecalho h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 650;
        color: whitesmoke;
        font-family: 'Poppins', sans-serif;
        margin-top:auto;
        font-style: italic;
    }
        button{  
    gap: 15px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    }
    
    button {
      margin-top: 20px;
      background-color: rgb(69, 181, 233);
      color: white;
      border: none;
      padding: 8px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
