*{/*o * significa selicionar todos elementos da pagina*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*lembrar de trocar fonte*/
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94e;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,2.12);
}

.form{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.input-group{/*formulario*/
    display: flex;
    flex-wrap: wrap;/*ficar um do lado do outro*/
    justify-content: space-between;
    padding: 1rem ;
}

.input-box{/*muda cada negocio*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;/*ver pq nao esta distanciando*/
}



.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000003c;
}